extends layout

block content
  form(action="" method="POST" class="del-registration")
    input(
      type="submit"
      value="Delete all users"
      class="btn btn-lg btn-primary btn-block"
      onclick="return confirm('Are you sure you want to delete all users?');"
    )