doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    div.container.listing-reg
      h1= `${pagename}`

      nav.navbar.navbar-expand-md.bg-dark.navbar-dark
        // Brand
        a.navbar-brand(href='#') Navbar
        // Toggler/collapsibe Button
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
          span.navbar-toggler-icon
        // Navbar links
        #collapsibleNavbar.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/registrations') Registrations
            li.nav-item
              a.nav-link(href='/deleteReg') Delete

      block content
